:root {
  --color-blue: #0c8ce9;
  --color-orange: #fe7200;
  --color-just-black: #2c2c2c;
  --color-image-bg: #f7f8fc;
  --color-light: #fff;
  --color-dark: #000;
  --color-stroke-fill: #f2f4f5;
  --color-text-blue: #117fe3;
  --color-background: #fafafa;
  --color-extra-red: #e52b0e;

  --color-gray: #f3f4f5;
  --color-text-gray: #6b7076;
  --color-light-gray: #f6f8fb;

  --media-width: 1400px;

  --font-jaro: "Jaro", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-noto-sans: "Noto Sans", sans-serif;
}
