.wrapper {
  border-bottom: 1px solid var(--color-stroke-fill);
}

.header {
  margin: 0 auto;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 30px;
  align-items: center;
  padding: 28px 0;

  &__center {
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto 1fr;
  }

  &__navigation {
    display: flex;
    column-gap: 27px;
  }
}
